body{
    margin: 0px;
    background-color: #010101;
    background-repeat: no-repeat;
    background-size: cover;
}

div.panel{
    width: 400px;
    height: 100vh;
    background-color: #785E5E;
    position: fixed;
    
}
.logo{
    margin-top: 33px;
    margin-left: 44px;
}
.acordion {
    width: 400px;
    height: 400px;
    background-color: blue;
    position: relative;
}
.acordion-item {
    position: relative;
    width: 400px;
    height: 100px;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    width: auto;
}
#hidden {
    /*display:none -like behavior achieved by also reducing the height to 0*/
    visibility: hidden;
    height: 0;
    
    /*mouse-out transition*/
    transition:
      height 1s,/*normally transition height*/
      visibility 0s 1s;/*delay transition to "hidden"*/
}
    
.acordion-item:hover #hidden {
    height: 100px;
    visibility: visible;
    
    
    /*mouse-in transition*/
    transition:
      height 1s, /*normally transition height*/
      visibility 0s; /*make "visible" instantly*/
}

#hidden {
    background: papayawhip;
    overflow:hidden;
}



h1{
    font-size: 100px;
    text-align: center;
    padding-top: 54px;
    padding-left: 55px;
    padding-right: 55px;
    display: inline-block;
    color: #CCCCCC;
    font-family: 'Kaushan Script', cursive;
}

h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
    color: #CCCCCC;
    font-family: 'Kaushan Script', cursive;
}

hr{
    border-top: 15px dashed black;
}

a:hover{
    color: rgb(182, 177, 151) !important;
}

div.core{
    margin-left:400px ;
    height: 100vh;
    position: relative;
       
}


#main {
    width: 100%;
    height: 400px;
    border: 1px solid black;
    display: flex;
}
  
#main div {
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
}

.aMText {
    background-color: #2b2a2a46;
    
    width: 950px;
    height: 630px;
    margin-left: 154px;
    margin-top: 110px;
    display: flex;
}

#AbMeImg{
    position: absolute; 
    vertical-align: bottom; 
    margin-left: 200px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}   


@keyframes animI {
    0%   {right:0px;}
	25%  {right:230px;}
	50%  {right:0px;}
	75%  {right:230px;}
	100% {right:0px;}
}

@keyframes animII {
    0%   {right:230px; }
	25%  {right:0px;}
	50%  {right:230px;}
	75%  {right:0px;}
	100% {right:230px;}
    
}

.skillsItem{
    width: 400px;
    height: 731px;
    background-color: #CCCCCC;
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
    margin-top: 30px;
    padding-left: 10px;
}
.skillsIcon {
    width: 128px; 
    height: 128px;
}

.skillBar {
    border-top: 5px solid black;
}

.skillName {
    font-size: 30px;
    color: black;
    text-align: center;
}
.worksItem{
    width: 548px;
    height: 804px;
    margin-left: 66px;
    display: inline-block; 
    vertical-align: top;
}

.scroll {
    width:398px;
    height: 700px;
    line-height:3em;
    overflow:scroll;
    overflow-x: hidden;
    padding:15px; 
    position: relative;
    margin-left: 80px;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.showWork{
    background-color: white;
    width:auto;
    height:1080px;
    vertical-align: top;
    position: absolute;
    z-index: 1;
    
}

p{
    /*margin: 0px;*/
    font-size: 30px;
    margin: 20px;
    font-family: 'Kaushan Script', cursive;
    color: #CCCCCC;
}


